
.body-holder{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 6%;
}


.seila-holder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 40px;
}


body{
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    background-image: url("./flatlay-of-travel-essentials.jpg");
    background-position: 20%;
    flex-direction: column;
    padding: 20px;
}

.body{
    display: flex;
    flex-direction: column;
    width: 350px;
    text-align: center;
    align-items: center;
    margin: auto;
    padding: 30px;
    background-color: #cfbaae;
    border-radius: 10px;
    height: 150px;
    justify-content: center;
    margin-top: 7%;
    transition: 1s;
    box-shadow: 0px 0px 3px #956751;
}

.body input{
    width: 230px;
    height: 40px;
    border-radius: 7px;
}

.body img{
    width: 200px;
    height: 200px;
    border-radius: 80px;

}

.body button{
    width: 60px;
    height: 45px;
    border-radius: 7px;
    border: 0;
    margin-top: 5px;
    background-color: #735d50;
    color: white;
    font-weight: 400;
    cursor: pointer;
    margin-bottom: 20px;
}

.h1{
    font-size: 20px;
    font-family: monospace;
    color: #111212;

}

.body:hover{
    box-shadow: 0px 0px 30px #956751;
}


.body p{
    font-size: 12px;
}
.mostraEndereco{
    display: flex;
    flex-direction: column;
    width: 350px;
    text-align: center;
    align-items: center;
    margin: auto;
    padding: 30px;
    background-color: #cfbaae;
    border-radius: 10px;
    height: 300px;
    justify-content: center;
    margin-top: 2rem;
    transition: 0.5s;
    box-shadow: 0px 0px 3px #956751;
}

.mostraEndereco input{
    width: 270px;
    height: 50px;
    margin-top: 8px;
    border-radius: 8px;
    border: none;
}


.mostraEndereco:hover{
    box-shadow: 0px 0px 30px #956751;
    border-radius: 15px;
    cursor: pointer;
}


.mapa-holder img{
    width: 600px;
    height: 600px;
    border-radius: 5%;
    margin-right: 30px;
}